# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
/pubspec.lock
.dart_tool/
.packages
build/

# Platform related
android/
ios/
linux/
macos/
windows/
web/